body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.tableOfContentsPage{
    height: 100vh; 
    background-image: url('./photos/pagesBackground.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 0;
}

.navbar img.homeImage {
    margin-left: auto; 
    cursor: pointer;
}

.navbar img {
    cursor: pointer;
    max-width: 50%;
    max-height: 50%;
}

.tocTitle {
    display: flex;
    justify-content: center; 
    width: 100%;
}

.half {
    flex-basis: 100%;  
}

.tocTitle img {
    max-width: 55%;
}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
}

.pagination img {
    max-width: 50px;
    cursor: pointer;
}

.arcaneText {
    text-align: left;
    margin-left: 50px;
    margin-bottom: 25px;
}

.arcaneText2 {
    text-align: left;
    margin-left: 35%;
    margin-bottom: 25px;
}

.smallImg {
    max-width: 50%;
    max-height: 50%;
}

.column.half {
    width: 50%;
}

.arcaneSpellsList {
    display: flex;
    justify-content: space-between;
}

.arcaneSpellsList .column {
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.arcaneSpellsList .column ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0;   
}

.arcaneSpellsHeader {
    /* position: absolute;
    top: 25%;
    right: 5%;
    transform: translate(-50%, -50%); */
    margin-bottom: 20px;
}