body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
  
.homePage {
    height: 100vh; 
    background-image: url('./photos/backgroundSpellBook.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.homePageHeader {
    text-align: center;
    color: white;
    padding: 20px; 
}
  
.spellBook button {
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
}
  
.spellBook button:focus {
    outline: none; 
}
  
.spellBook img {
    max-width: 100%;
    display: block;
}

.arcaneSpellbook:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out;
}

.spellBook {
    position: relative; 
    display: inline-block; 
}

.arcaneImage {
    position: absolute; 
    top: 10%; 
    left: 55.5%;
    transform: translateX(-50%); 
    z-index: 1; 
}
