.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 8rem;
    row-gap: 10rem;
    padding-bottom: 1rem;
}

.spellBox{
    display: flex;
    /* background-color: rgb(150, 150, 218); */
    width:42rem;
    align-items: left;
    flex-direction: column;
    column-gap: 2rem;

    
}

.spellPicAndStats{
    display: flex;
    /* background-color: rgb(218, 160, 150); */
    align-items: center;
    flex-direction: row;
    column-gap: 2rem;

}

.spellTraits{
    border-radius: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid #000000;
    /* text-align: center; */
}

.spellStats{
    display: flex;
    /* background-color: rgb(150, 218, 176); */
    align-items: left;
    flex-direction: column;
    text-align: left;
}

.description{
    font-size: 10rem;
}

.moreInfoIcons{
    display: flex;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    align-self: left;
}

.closeButton{
    border-radius: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    width: 5rem;
    border: 2px solid #000000;
    text-align: center;
    cursor: pointer;
    background: none;
}