body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.spellPage{
    max-width: 100%;
    margin: 0 auto;
    height: auto; 
    min-height: 100vh; 
    background-image: url('./photos/pagesBackground.png');
    background-size: auto; 
    background-position: center top; 
    background-repeat: repeat-y; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    margin-top: 0;
}

.navbar .leftIcons {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center; 
    gap: 10px;
}

.navbar .leftIcons img {
    width: 20px; 
    margin-top: 5px; 
    margin-right: 10px;
}

.navbar .rightIcons {
    display: flex;
    align-items: center;
}

.navbar img.rightNav {
    margin-right: 7px; 
    cursor: pointer;
    max-width: 37%;
    max-height: auto;
}

.navbar img.search {
    cursor: pointer;
}

.navbar img.rightNav {
    cursor: pointer;
}

.navbar img.spellCart {
    margin-top: 10px;
    cursor: pointer;
}

.navbar img.spellCart:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out;
}

.navbar img.search:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out;
}

.navbar img.rightNav:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out;
}

.arcaneHeader, .rightIcons {
    margin-top: 100px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 0;
    margin-bottom: 30px;
}

.pagination img {
    max-width: 35px;
    cursor: pointer;
}

.pagination img:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out;
}

/* .column.half {
    width: 50%;
} */

/* .arcaneHeader {
    display: flex;
    align-items: center;
    margin: 0 auto; 
} */

/* .arcaneLevelHeader {
    display: flex;
    justify-content: flex-start;
    width: 100%;
} */

/* .arcaneLevelHeader img {
    max-width: 85%; 
    margin-left: 10px;
    margin-right: 20px;
} */

/* .half {
    flex-basis: 100%;  
} */